@tailwind base;
@tailwind components;
@tailwind utilities;


.menu-hl{
    background-color: rgb(255, 225, 0);
    color: rgb(0, 0, 0);
}

.menu-normal{
    background-color: rgb(209, 215, 17);
    color: rgb(251, 0, 255);
}



.bg-image-01{
    background-color:rgb(255, 255, 255);
    background-image: url("code.png");
    background-blend-mode:saturation;
    min-height: 100vh;
}


.bg-01{
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-blend-mode:luminosity;
    background-position: bottom center;
    min-height: 100vh;
}

.bg-02{
    background-color: rgb(255, 0, 0);
    background-size: cover;
    background-blend-mode:luminosity;
    background-position: bottom center;
    min-height: 100vh;

}

.bg-03{
    background-color: rgb(0, 255, 0);
    background-size: cover;
    background-blend-mode:luminosity;
    background-position: bottom center;
    min-height: 100vh;
}

.bg-04{
    background-color: rgb(255, 150, 255);
    background-size: cover;
    background-blend-mode:luminosity;
    background-position: bottom center;
    min-height: 100vh;
}

.bg-05{
    background-color: rgb(0, 0, 0);
    background-size: cover;
    background-position: bottom center;
    min-height: 100vh;
}

.bg-06{
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-blend-mode:luminosity;
    background-position: bottom center;    
    min-height: 100vh;
}